In [1]:
def get_nndf(ticker):
    #nndf = pd.Dataframe()
    #engine = create_engine("postgresql://postgres:RICE-RC-SP-AG@database-1.cvonj9w8tjhh.us-east-2.rds.amazonaws.com:5432/FintechProject2")
    #price_current = get_current_price(ticker)
    #price_fundamental = get_fundamental_price(ticker)
    #np1, np2, np3 = get_newsprevalence(ticker)
    #p1, p2, p3, p4, p5, p6, p7, p8, p9, p10 = get_price_history(ticker)
    #v1, v2, v3, v4, v5, v6, v7, v8, v9, v10 = get_volume_history(ticker)
    #return nndf
#index of dates
#25 nodes
#current price

In [39]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
import pickle
import os.path
import csv
from pathlib import Path
from sqlalchemy import create_engine
from sklearn import preprocessing
engine = create_engine("postgresql://postgres:RICE-RC-SP-AG@database-1.cvonj9w8tjhh.us-east-2.rds.amazonaws.com:5432/FintechProject2")

In [141]:
def get_current_price(ticker):
    query = f"""select * from ticker_data
    where "Ticker" = '{ticker}'"""
    df = pd.read_sql_query(query, engine)
    df = df.drop(columns = ['Open', 'High', 'Low'])
    df['pct_change'] = (df.AdjClose - df.AdjClose.shift(1))/df.AdjClose.shift(1)
    scaler = preprocessing.StandardScaler()
    scaled_features = df.copy()
    col_names = ['pct_change']
    features = scaled_features[col_names]
    scaler = preprocessing.StandardScaler().fit(features.values)
    features = scaler.transform(features.values)
    df['pct_change_scaled'] = features
    df['pcs-1'] = df.pct_change_scaled.shift(1)
    df['pcs-2'] = df.pct_change_scaled.shift(2)
    df['pcs-3'] = df.pct_change_scaled.shift(3)
    df['pcs-4'] = df.pct_change_scaled.shift(4)
    df['pcs-5'] = df.pct_change_scaled.shift(5)
    df['pcs-6'] = df.pct_change_scaled.shift(6)
    df['pcs-7'] = df.pct_change_scaled.shift(7)
    df['pcs-8'] = df.pct_change_scaled.shift(8)
    df['pcs-9'] = df.pct_change_scaled.shift(9)
    df['pcs-10'] = df.pct_change_scaled.shift(10)
    min_max_scaler = preprocessing.MinMaxScaler()
    scaled_volume = df.copy()
    col_names = ['Volume']
    features = scaled_volume[col_names]
    min_max_scaler =  preprocessing.MinMaxScaler().fit(features.values)
    features = min_max_scaler.transform(features.values)
    df['vol_scaled'] = features
    df['vol-1'] = df.vol_scaled.shift(1)
    df['vol-2'] = df.vol_scaled.shift(2)
    df['vol-3'] = df.vol_scaled.shift(3)
    df['vol-4'] = df.vol_scaled.shift(4)
    df['vol-5'] = df.vol_scaled.shift(5)
    df['vol-6'] = df.vol_scaled.shift(6)
    df['vol-7'] = df.vol_scaled.shift(7)
    df['vol-8'] = df.vol_scaled.shift(8)
    df['vol-9'] = df.vol_scaled.shift(9)
    df['vol-10'] = df.vol_scaled.shift(10)
    df['AdjClose-1'] = df.AdjClose.shift(1)
    df = df.drop(columns = ['Volume', 'Ticker', 'pct_change', 'pct_change_scaled', 'vol_scaled'])
    df = df.dropna()
    query2= f'''Select week, "{ticker}" from weekly_trends'''
    df2 = pd.read_sql_query(query2, engine)
    df.set_index(pd.to_datetime(df['Date']), inplace=True)
    df2.set_index(pd.to_datetime(df2['week']), inplace=True)
    merge=pd.merge(df,df2, how='outer', left_index=True, right_index=True)
    col = ['AAPL']
    merge.loc[:, col] = merge.loc[:, col].ffill()
    merge = merge.drop(columns = 'week')
    merge = merge.dropna()
    merge['trend-1'] = merge.AAPL.shift(5)
    merge['trend-2'] = merge.AAPL.shift(10)
    merge['trend-3'] = merge.AAPL.shift(15)
    merge = merge.drop(columns = 'AAPL')
    merge = merge.dropna()
    return merge

In [142]:
df_current = get_current_price('AAPL')
df_current.to_sql("AAPL", engine, if_exists = 'append' )

In [146]:
df = dfpop('AAPL')

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "aapl" does not exist
LINE 1: select * from AAPL
                      ^

[SQL: select * from AAPL]
(Background on this error at: http://sqlalche.me/e/f405)

In [73]:
def get_weekly_trends(ticker):
    query2= f'''Select week, "{ticker}" from weekly_trends'''
    df2 = pd.read_sql_query(query2, engine)
    return df2

In [74]:
df2 = get_weekly_trends('AAPL')

In [75]:
df2

          week  AAPL
0   2016-11-13  37.0
1   2016-11-20  48.0
2   2016-11-27  39.0
3   2016-12-04  47.0
4   2016-12-11  39.0
..         ...   ...
151 2019-10-06  37.0
152 2019-10-13  30.0
153 2019-10-20  32.0
154 2019-10-27  49.0
155 2019-11-03  33.0

[156 rows x 2 columns]